<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>shop</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
   <servlet>
  <servlet-name>GoodsServlet</servlet-name>
  <servlet-class>com.etc.servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>GoodsServlet</servlet-name>
   <url-pattern>/FIVE.do</url-pattern>
  </servlet-mapping>  
  	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.etc.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>com.etc.servlet.CartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/cart.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>com.etc.servlet.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/delete.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DelGoodServlet</servlet-name>
		<servlet-class>com.etc.servlet.DelGoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelGoodServlet</servlet-name>
		<url-pattern>/delgood.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>com.etc.servlet.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/add.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.etc.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogOffServlet</servlet-name>
		<servlet-class>com.etc.servlet.LogOffServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOffServlet</servlet-name>
		<url-pattern>/logoff.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.etc.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserdelServlet</servlet-name>
		<servlet-class>com.etc.servlet.UserdelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserdelServlet</servlet-name>
		<url-pattern>/userdel.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>com.etc.servlet.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/order.do</url-pattern>
	</servlet-mapping>
</web-app>
